/* Estilos generales */
body{
    background: #989bcc;
}

/* Estilos del menu  */

.logo{
    height: 50px;
    width: 50px;
    margin-right: 2em;
    filter: drop-shadow( 3px 3px 3px black);

}

header nav ul li{
    background-color: #797eb9;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
    z-index: 2;
}

.menu{
    height: 70px;
}

header{
    color: black;
}

h1{
font-size: 1.0em;
}

nav{
    padding: 0px !important;
}
li a:hover{
    background-color: rgb(67, 71, 155);
    color:  white;
}
.nav-link{
    padding: 0em;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(49, 58, 89, 1) !important;
}

.border-success {
    --bs-border-opacity: 1;
    border-color:rgb(77, 83, 197) !important;
}

.paginas{
    justify-content: end;
    background-color: rgba(49, 58, 89, 0.932) !important;
    z-index: 2;

}

@media screen and (min-width:320px){
    /* Index */
    main, .cuerpo, .alan-walker-info-{
        margin: 0.5em;
    }

    h2{
        filter: drop-shadow( 3px 0px 7px black);
    }

    .cuerpo-parrafo-dos{
        display: none;
    }
    .alan-walker-info img{
        filter: drop-shadow( 7px 7px 7px black);
        width: 100%;
    }

    .alan-walker-info p{
        font-weight: bold;
        text-align: center;
    }

    .pie-pagina{
        background-color:#313A59;  
        padding: 0.5em; 
        color: black;
    }

    .pie-pagina-derechos{
        margin-bottom: 0px;
    }

    .redes-img{
        width: 45px;
        height: 40px;
    }

    /* Estilos Giras */

    /* Lista de giras */

    .lista{ 
        padding: 1em;
        color: black;

    }
    
    .lista div{
        padding: 0.2em;
    }

    .menu-tour{
        background-color: #313a59da;
        margin-bottom: 0.6em;
        
    }

    .menu-completo{
        text-align: end;
    }
    
    .menu-completo :hover{
        background-color: #252d4bda;
    }

    .menu-tour div p, .menu-tour p{
        margin: 2px;
    }

    .ubicacion-gps, .img-espacio, .fecha-lugar, .patrocinio{
        display: none;
    }

    button{
        background-color: #4a5477;
    }
}