/* Reset de estilos */

*{
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body{
    background: #9395B8;
    font-family: Arial, Helvetica, sans-serif
}

/*Estilos del encabezado imagen y nombre*/
header{
    background-color: #313A59;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header .logo{
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items:center;
}

.logo img {
    height: 50px;
    width: 50px;
}

h1{
    margin-left: 30px;
}

/* Estilos del Encabezado menu de navegacion*/

.link-menu{
    text-decoration: none;
    color:black;
}

.lista-menu{
    height: 70px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

header nav{
    width: 300px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    background-color: #9395B8;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}

/* Estilos Index */

.principal{
    margin: 20px;
}

/* Estilos del cuerpo */
.biografia{
    margin:30px 0px 15px 0px
}

.biografia-parrafo{
    margin-bottom: 35px;
}

.cuerpo{
    display: flex;
    margin-bottom: 30px;
}

.cuerpo-informacion{
    margin: 0px 35px 0px 20px;
}

.cuerpo-informacion-subtitulo{
    margin-bottom: 15px;
}

.cuerpo-parrafo{
    margin-bottom: 15px;
}

/* estilos cuerpor imagen y info */
.alan-walker-cuerpo{
    width: 530px;
    height: 450px;
}

.alan-walker-info{
    text-align: center;
}

/* Estilos pie de pagina */

.pie-pagina{
    background-color:#313A59;   
    display: flex;
    height: 53px;
    justify-content:space-between;
}

.pie-pagina-contenedor{
    width: 300px;
    margin-left: 20px;
    padding-top: 10px;
}

.pie-pagina-derechos{
    width: 300px;
}

.redes{
    width:300px;
    padding-right: 20px;
    text-align: end;

}

.redes-link{
    margin: 0px 10px 0px 10px;
}

.redes-img{
    width: 45px;
    height: 45px;
}

/* Estilos de Album*/

/* Estilos Main de album */

.album-subtitulo{
    margin-bottom: 20px;
}

.album{
    margin:30px 20px 35px 20px;
    display: flex;
}

.album-pl{
    margin-left: 20px;
    width: 400px;
    height: 200px;
}

/* estilos de div (sencillos) */

.sencillos{
    margin: 0px 20px 35px 20px;
}

.sencillos-faded{
    margin-bottom: 20px;
}

/* estilos de div canciones-varias */

.canciones-base1, .canciones-base2{
    display: flex;
    justify-content: space-between;
}
.canciones-varias, .canciones-base1{
    margin-bottom: 30px;
}

.base1, .base2{
    margin: 15px;
}

/* Estilos Giras */
.subtitulo-gira{
    margin: 30px 0px 15px 20px
}

.menu-tour{
    margin: 20px;
    border-style: solid;
}

.menu-fecha{
    border-style: solid;
}

.img-espacio{

    width: 290px;
}

/* estilos galeria */

.subtitulo-galeria{
    margin: 30px 0px 15px 20px
}

.base-img{
    display: flex;
    flex-direction: column; 
}

.base-img-grupo{
    margin: 20px;
    display: flex;
    border-style: solid;
}

.base-img-grupo div{
    padding: 30px;
    justify-content: space-between;
}


/* Estilos de conctanto */

/* Estilo del main */

.contacto{
    margin: 30px 0px 15px 20px
}

.subtitulo-contacto{
    margin-bottom: 20px;
}

.formulario{
    margin: 20px;
}